body {
  font-family: 'Arial, Helvetica, sans-serif';
  margin: 0;
  padding: 0;
}



.app-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:80px;
  height:20px;
  background: radial-gradient(circle closest-side,#0C508C 90%,#0000) 0 0/33% 100% space;
  clip-path: inset(0 100% 0 0);
  animation:d1 1s steps(4) infinite;
}


@keyframes d1 {to{clip-path: inset(0 -34% 0 0)}}

.world-img-bg {
  width: 100vh;
  position: fixed;
  top: 85px;
  right: -60vh;
  opacity: 0.07;
  z-index: 0;
  pointer-events: none;
  animation: spin 200s linear infinite;
}




.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
  gap: 15px 25px;
}



.it_issue-types_subform {
  padding: 0px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  padding: 10px;
  top: -24px;
  position: relative;
  margin: 0 8px;
}